ADPROFD_LISTEN_ADDR=127.0.0.1:8080
ADPROFD_LDAP_URL=ldaps://dc01.example.test:636
ADPROFD_LDAP_BASE_DN=DC=example,DC=test
ADPROFD_LDAP_BIND_DN='CN=adprofd,OU=Service Accounts,DC=example,DC=test'
ADPROFD_LDAP_BIND_PASSWORD=change-me
ADPROFD_LDAP_TLS_SERVER_NAME=dc01.example.test
ADPROFD_PROXYAUTH_TOKEN=
ADPROFD_SESSION_COOKIE_SECURE=true
